<p id="notice"><%= notice %></p>

<p>
  <strong>:</strong>
  <%= @tip_telefona._id %>
</p>

<p>
  <strong>Tip telefona:</strong>
  <%= @tip_telefona.tip_telefona %>
</p>

<%= link_to 'Edit', edit_tip_telefona_path(@tip_telefona) %> |
<%= link_to 'Back', tip_telefona_index_path %>
