<%= form_for(@mesto) do |f| %>
  <% if @mesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mesto.errors.count, "error") %> prohibited this mesto from being saved:</h2>

      <ul>
      <% @mesto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :_id %><br>
    <%= f.number_field :_id %>
  </div>
  <div class="field">
    <%= f.label :mesto %><br>
    <%= f.text_field :mesto %>
  </div>
  <div class="field">
    <%= f.label :izbor %><br>
    <%= f.number_field :izbor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
